<!-- <html xmlns="http://www.w3.org/1999/xhtml" -->
<!-- 	xmlns:th="http://www.thymeleaf.org" -->
<!-- 	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" -->
<!-- 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> -->
<!-- <head> -->
<!-- <title>Mirella, corre aqui!</title> -->
<!-- <!--Import Google Icon Font--> -->
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" -->
<!-- 	rel="stylesheet" /> -->
<!-- <!--Import materialize.css--> -->
<!-- <link type="text/css" rel="stylesheet" -->
<!-- 	href="../materialize/css/materialize.min.css" media="screen,projection" /> -->

<!-- <!--Let browser know website is optimized for mobile--> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
<!-- <link rel="stylesheet" href="style/styleCss.css" /> -->
<!-- </head> -->
<!-- <body> -->

<!-- 	<header> -->
<!-- 		<nav class="menu" style="background-color:#90caf9;"> -->
<!-- 			<div class="nav-wrapper"> -->
<!-- 				<a href="#" class="brand-logo" style="padding-left: 30px;">Início</a> -->
<!-- 				<ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 					<li><a class="waves-effect waves-light btn" -->
<!-- 						href="../cadastroEvento"><i class="material-icons left">add_circle_outline</i>Registrar incidente</a></li> -->
<!-- 					<li><a href="../listaEventos" -->
<!-- 						class="waves-effect waves-light btn"><i -->
<!-- 							class="material-icons left">format_list_bulleted</i>Incidentes Recentes</a></li> -->
<!-- 					<li><a href="/logout" -->
<!-- 						class="waves-effect waves-light btn"><i -->
<!-- 						class="material-icons left">close</i>Sair</a></li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 		</nav> -->

<!-- 	</header> -->

<!-- <script type="text/javascript"> -->
// $(document).ready(function(){
// 	$('.carousel').carousel();
// });

<!-- </script> -->

<!--   <!-- <div class="carousel carousel-slider"> -->
<!--     <a class="carousel-item" href="#one!"><img src="../praia.jpg"></a> -->
<!--     <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a> -->
<!--     <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a> -->
<!--   </div>--> -->

<!-- 	<main style="padding-top: 50px;"> -->

<!-- 		<div class="row" style="margin-left: 480px; margin-top: -271px;"> -->
<!-- 		<div class="col s12 m7" style="width: 50% !important; height: 250px; "> -->
<!-- 			<div class="card"> -->
<!-- 				<div class="card-image"> -->
				
<!-- 				</div> -->
<!-- 				<div class="card-content"> -->
<!-- 					<p style="padding: 10px;">Grupos de apoio no Rio de Janeiro.</p> -->
<!-- 				</div> -->
<!-- 				<div class="card-action"> -->
<!-- 					<a href="#">Clique para mais informações</a> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- 		<div class="row" style="margin-left: 1040px;  margin-top: -271px;  margin-right: 32px;"> -->
<!-- 		<div class="col s12 m7" style="width: 100% !important; height: 250px; margin-rigth:100px !important;"> -->
<!-- 			<div class="card"> -->
<!-- 				<div class="card-image"> -->
				

<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- 	</main> -->

<!-- 	<main style="margin-left: 390px; width: 650px; padding-top: 250px; border-radius: 2px 2px 0 0;"> -->
<!--       <div class="video-container"> -->
<!--         <iframe src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe> -->
<!--       </div> -->
<!-- 	</main> -->

<!-- 	<footer class="page-footer" style="padding-top: 20px; color: #fff; background-color: #42a5f5; border: 3px solid gainsboro;      -->
<!-- 	height: 91px; position: absolute; width: 100%; bottom: -700px;"> -->
<!-- 			<div class="container" style="padding-bottom: 20px;padding-top: 5px;"> -->
<!-- 				© 2018 Mirella, corre aqui! <a class="grey-text text-lighten-4 right" href="#!">More -->
<!-- 					Links</a> -->
<!-- 			</div> -->
<!-- 	</footer> -->


<!-- 	<script type="text/javascript" -->
<!-- 		src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<!-- 	<script type="text/javascript" src="../materialize/js/materialize.min.js"></script> -->

<!-- </body> -->


<!-- </html> -->
